form {
    background: #000;
    bottom: 0;
    padding: 3px;
    position: fixed;
    width: 60%;
}
form input {
    border: 0;
    padding: 10px;
    width: 90%;
}
form button {
    width: 10%;
    color: #ffffff;
    background: #0000FF;
    border: none;
    padding: 10px;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #0000FF;
    color: #ffffff;
}
#messages li:nth-child(even) {
    background: #eeeeee;
}